/* Base styles */

#container {
  width:100%;
  max-width:1000px;
  margin:0 auto;
  padding:20px 20px 20px 20px;
}

/* Nav Bar styles */

#nav-logo {
  width:100%;
  max-width:1000px;
  margin:0 auto;
}

#logo {
  width:200px;
}

/* Headline styles */

#headline-container {
  width:80%;
  min-width:300px;
}

.headline {
  font-family: "Poppins", sans-serif;
  font-size:24px;
  font-weight:700;
}

.chatter {
  font-family: "PT Serif", serif;
  font-size:14px;
}

/* Social icons */

.icon-facebook, .icon-twitter {
  padding:10px;
  cursor: pointer;
  color: #991b1e;
}

.icon-facebook:hover, .icon-twitter:hover {
  color: #fbd603;
}

/* Links */

a:link {
  color: #991b1e;
}

a:hover {
  color: #fbd603;
}

a:visited {
  color: #666666;
}

/* End Base styles */
